fastapi
uvicorn
pypdf
python-multipart
sentence-transformers
faiss-cpu
streamlit
requests
numpy
rank-bm25
python-dotenv
langchain-experimental
langchain-huggingface
python-docx
openpyxl
python-pptx
pandas
beautifulsoup4
markdown
